.option-container {
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navigate {
  height: 120px;
  background-color: #181818;
}
.selection-section {
  width: 35rem;
}
.right-side {
  width: 30rem;
  margin-top: 120px;
}
.right-side-div {
  height: 700px;
  background-color: #181818;
  margin-top: 5%;
  padding: 2.5rem;
}
.component-header {
  font-size:x-large;
}
.item-search {
  padding-left: 10px;
  color: white;
  width: 89%;
  background-color: #08090c;
  border: 0px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -4px -4px 15px rgba(232, 237, 243, 0.05),
  10px 4px 15px rgba(2, 3, 3, 0.2);
}
.search-button {
  height: 40px;
  width:9%;
  background-color: #ffb600;
  border: 0px;
  margin-left: -2px;
  border-radius: 5px;
  margin-top: 20px;
}
.search-form {
  margin-top: 2%;
}
.search-button-span {
  margin-top: 30px;
}
.card {
  box-sizing: border-box;
  border: 2px solid #08090c;
  background-color: #08090c;
  width:130px;
  height:130px;
  margin-bottom: 3rem;
  margin-right: 1rem;
  border-radius: 20px;
}
.items-to-be-selected {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}
.card .service-card-container {
  background-color: #08090c;
  border-radius: 20px;
  box-shadow: -4px -4px 15px rgba(232, 237, 243, 0.05),
    10px 4px 15px rgba(2, 3, 3, 0.2);
  max-height:124px;
  min-height: 124px;
  max-width: 124px;
  min-width: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 1px;
  text-align: center;
}


@media screen and (max-width: 400px) {
  img {
    width: 40px;
  }
  .card {
    box-sizing: border-box;
    border: 2px solid #08090c;
    background-color: #08090c;
    width:75px;
    height:75px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
  }
  .card .service-card-container {
    background-color: #08090c;
    border-radius: 20px;
    box-shadow: -4px -4px 15px rgba(232, 237, 243, 0.05),
      10px 4px 15px rgba(2, 3, 3, 0.2);
    max-height:69px;
    min-height: 69px;
    max-width: 69px;
    min-width: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 8px;
    padding: 1px;
    text-align: center;
  }
  .item-search {
    width: 85%;
  }
  .right-side {
    width: 30rem;
    margin-top: 12px;
  }
}